<%= provide(:title, 'Home' ) %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 center jumbotron">
    <h1>Event Registration</h1>
    
    <h4 class="visible-xs-inline">
    <table width = "100%", align="center">
    <tr>
    <td align="right">
    <%= link_to "Volunteering   ", events_path %>
    </td>    
    <td align="center">
    <%= link_to "Classes", ds_classes_path %>
    </td>
    <td align="left">
    <%= link_to "   Buddy Walk", buddy_walks_path %>
    </td>
    </tr>
    </table>
    </h3>

    <h3 class="visible-sm-inline visible-md-inline visible-lg-inline ">
    <table width = "100%", align="center">
    <tr>
    <td align="right">
    <%= link_to "Volunteering   ", events_path %>
    </td>    
    <td align="center">
    <%= link_to "Classes", ds_classes_path %>
    </td>
    <td align="left">
    <%= link_to "   Buddy Walk", buddy_walks_path %>
    </td>
    </tr>
    </table>
    </h3>

    <p></p>
    <% unless logged_in? %>
      <%= link_to "Sign up", signup_path, class: "btn btn-primary home-page" %>
      &nbsp
      <%= link_to "Log in", login_path, class: "btn btn-primary home-page" %>
    <% end %>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Edit Text", { action: :edit, controller: :articles, id: 1 }, class: "btn btn-primary home-page" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 jumbotron">
    <div><%= @article_top.text.html_safe %></div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Edit Text", { action: :edit, controller: :articles, id: 2 }, class: "btn btn-primary home-page" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 jumbotron">
    <div><%= @article_bottom.text.html_safe %></div>
  </div>
</div>