<%= provide(:title, 'Home' ) %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 center jumbotron">
    <h1>Event Registration</h1>
    
    <div class="col-xs-4 col-sm-4">
      <%= link_to "Volunteering", events_path, class: "btn btn-info btn-block home-page" %>
    </div>
    <div class="col-xs-4 col-sm-4">
      <%= link_to "Classes", ds_classes_path, class: "btn btn-info btn-block home-page" %>
    </div>
    <div class="col-xs-4 col-sm-4">
      <%= link_to "Buddy Walk", buddy_walks_path, class: "btn btn-info btn-block home-page" %>
    </div>
    <div class="col-xs-12"><p></p></div>
    <% unless logged_in? %>
       <div class="col-xs-3 col-xs-offset-3 col-sm-3 col-sm-offset-3">
        <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-block home-page" %>
      </div>
      <div class="col-xs-3 col-sm-3">
        <%= link_to "Log in", login_path, class: "btn btn-primary btn-block home-page" %>
      </div>  
    <% end %>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Edit Text", { action: :edit, controller: :articles, id: 1 }, class: "btn btn-primary home-page" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 jumbotron">
    <div><%= @article_top.text.html_safe %></div>
  </div>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Edit Text", { action: :edit, controller: :articles, id: 2 }, class: "btn btn-primary home-page" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 jumbotron">
    <div><%= @article_bottom.text.html_safe %></div>
  </div>
</div>