%li{:id => "time slot #{time_slot.id}"}
  %span.content
    #{time_slot.start_time.strftime("%I:%M %p")} --
    #{time_slot.end_time.strftime("%I:%M %p")}
  %span.content
    Available slots:
    #{time_slot.capacity_left} out of
    #{time_slot.total_capacity}
    %br
    - if logged_in? && current_user.admin
      = link_to "Delete", { action: :destroy, controller: :time_slots, id: time_slot.id, event_id: time_slot.event.id }, method: :delete, data: { confirm: "Are you sure?" }
    - elsif logged_in? && current_user.time_slots.exists?(time_slot.id)
      Registered &nbsp;
      = link_to "Unregister", { action: :unregister, time_slot_id: time_slot.id }, { method: :put }
    - elsif time_slot.capacity_left > 0
      = link_to "Register", { action: :register, time_slot_id: time_slot.id }, { method: :put }
    - else
      Full
