<%= provide(:title, 'My registrations') %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 jumbotron">
    <h1> Registered Events </h1>
      <table class="table">
        <tr>
          <th class="col-md-6">Event</th>
          <th class="col-md-4">Time</th>
        </tr>
        <% @registrations.each do |registration| %>
          <tr>
            <td class="col-md-6">
              <%= link_to registration.event.title, registration.event %>
            </td>
            <td class="col-md-4">
              <%= registration.event.date %><br>
              <%= registration.start_time.strftime("%I:%M %p") %> -- <%= registration.end_time.strftime("%I:%M %p") %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
