- provide(:title, 'New event')
%div.row
  %div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
    %h1 New Event
    %div.row
      %div.col-xs-12.col-md-6.col-md-offset-3
        = form_for(@event) do |f|
          = render 'shared/error_messages', object: f.object

          = f.label :title
          = f.text_field :title, class: 'form-control'

          = f.label :date
          = f.date_field :date, class: 'form-control'

          = f.label :place
          = f.text_field :place, class: 'form-control'

          = f.label :description
          = f.text_area :description, class: 'form-control'

          = f.submit "Create new event", class: "btn btn-primary"
