%div.row
	%div.col-xs-12.col-sm-10.col-sm-offset-1.jumbrotron
		%h1 #{@event.title}

		%u1#details
			%li
				Date:
				= @event.date
			%li
				Place:
				= @event.place
			%li
				Description:
				= @event.description.html_safe

		= link_to "Back", events_path
