:css
	h2{
		font-size: 20px
	}

= provide(:title, 'Search Results')

%div.row
	%div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
		%h1 Search Results
		%div.row
			%div.col-xs-6.col-sm-6.col-md-offset-3
				= form_for search_results_path, method: :get do |f|
					= text_field_tag :query, params[:query], :placeholder => "Enter search", class: 'form-control'
					= submit_tag "Search", name: nil
					%br

		%ul.events
			%h2	Results for '#{params[:query]}'
			- if @events.present?
				= render @events.sort_by &:date
			- else 
				%li
					%div{:align => "center"}
						No matches. Retry the search or try a new search.