<% provide(:title, 'Roster') %>
<% if logged_in? && current_user.admin %>
<div class="row">
  <div class="col-xs-12 col-sm-12 jumbotron">
      <h1><%= @event.title %></h1>
      <ul class="col-xs-12 col-md-12" id="details">
        <%= @event.date %><br>
        <%= @event.place %><br><br>
        <% @event.time_slots.each do |time_slot| %>
          <li><%= time_slot.start_time.strftime("%I:%M %p") %> -- <%= time_slot.end_time.strftime("%I:%M %p") %></li>
          <table class="table">
            <tr>
              <th class="col-md-2">Name</th>
              <th class="col-md-2">Email</th>
              <th class="col-md-2">Phone</th>
              <th class="col-md-2">Address</th>
              <th class="col-md-2">Emerg. Contact</th>
              <th class="col-md-2">Emerg. Phone</th>
            </tr>
            <% time_slot.users.each do |user| %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><%= user.address %></td>
                <td><%= user.emergency_contact_name %></td>
                <td><%= user.emergency_contact_phone %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        <%= link_to "Back", event_path(@event) %>
      </ul>
    </div>
  </div>
<% else %>
  Access Denied
<% end %>
