%li
  %div{:align => "left"}
    #{ds_class.start_date} - #{ds_class.end_date}:
    %div{:align => "center"}
      = link_to ds_class.title, ds_class
      - if logged_in? && current_user.admin?
        %div{:style => "float: right"}
          = link_to "Edit", edit_ds_class_path(ds_class)
          |
          = link_to "Delete", ds_class, method: :delete, data: { confirm: "You sure?" } 
