= provide(:title, 'Classes')
%div.row
  %div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
    %h1 All Classes
    %div.row
      - if logged_in? && current_user.admin?
        = link_to "Edit Text", { action: :edit, controller: :articles, id: 5 }, class: "btn btn-primary home-page"
      %div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
        %div
          = @article.text.html_safe
      %div.col-xs-6.col-sm-6.col-md-offset-3
        = form_for classes_search_path, method: :get do |f|
          = text_field_tag :query, params[:query], :placeholder => "Enter search", class: 'form-control'
          = submit_tag "Search", name: nil, class: "btn btn-primary home-page"
          %br
    %br
    %ul.events
      = render @ds_classes.sort_by &:date
      %br
      -if logged_in? && current_user.admin
        = link_to "Add new event", new_event_path

      = will_paginate


