<h1>Listing ds_classes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Place</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ds_classes.each do |ds_class| %>
      <tr>
        <td><%= ds_class.title %></td>
        <td><%= ds_class.place %></td>
        <td><%= ds_class.description %></td>
        <td><%= ds_class.start_time %></td>
        <td><%= ds_class.end_time %></td>
        <td><%= ds_class.start_date %></td>
        <td><%= ds_class.end_date %></td>
        <td><%= link_to 'Show', ds_class %></td>
        <td><%= link_to 'Edit', edit_ds_class_path(ds_class) %></td>
        <td><%= link_to 'Destroy', ds_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ds class', new_ds_class_path %>
