<p>
Dear <%= @user.name %>
</p>

<p>
We are sorry to tell you the following event has been cancelled.
</p>

<p>
Event: <%= @class_slot.ds_class.title %><br>
Date: <%= @class_slot.ds_class.start_date %> - <%= @class_slot.ds_class.end_date %><br>
<%= @class_slot.start_time %> -- <%= @class_slot.end_time %>
</p>
