- provide(:title, "Add time slot to #{@event.title}")
%div.row
  %div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
    %div.event_info
      %h1 #{@event.title}
      %div.row
        %div.col-xs-12.col-md-6.col-md-offset-3
          %h6 Time
          - if @event.time_slots.any?
            %ol.time_slots
              = render @time_slots
            = will_paginate @time_slots
        %div.col-xs-12.col-md-6.col-md-offset-3
          - if logged_in? && current_user.admin
            = form_for([@event, @time_slot]) do |f|
              = render 'shared/error_messages', object: f.object

              = f.label :start_time, "Start Time (HH:MM AM/PM)"
              = f.text_field :start_time, class: "timepicker", :placeholder => "Ex: 12:00 AM"

              = f.label :end_time, "End Time (HH:MM AM/PM)"
              = f.text_field :end_time, class: "timepicker", :placeholder => "Ex: 12:00 AM"

              = f.label :total_capacity, "Capacity"
              = f.number_field :total_capacity, class: "form-control", :placeholder => "Enter capacity"

              = f.submit "Submit", class: "btn btn-primary home-page"
            %br/
            = link_to "Back", event_path(@event)
          -else
            Access Denied



