<p>
Dear <%= @user.name %>
</p>

<p>
We are sorry to tell you the following event has been cancelled.
</p>

<p>
Event: <%= @time_slot.event.title %><br>
Date: <%= @time_slot.event.date %><br>
<%= @time_slot.start_time %> -- <%= @time_slot.end_time %>
</p>
