= form_for(@buddy_walk) do |f|
  - if @buddy_walk.errors.any?
    #error_explanation
      %h2
        = pluralize(@buddy_walk.errors.count, "error")
        prohibited this buddy_walk from being saved:
      %ul
        - @buddy_walk.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :description
    %br/
    = f.text_area :description
  .actions
    = f.submit