%div.row
  %div.col-xs-12.col-sm-10.col-sm-offset-1.jumbotron
    %h1 New Buddy Walk Registration Group
    %div.row
      %div.col-xs-12.col-md-6.col-md-offset-3
        = form_for(@buddy_walk) do |f|
          = render 'shared/error_messages', object: f.object

          = f.label :title
          = f.text_field :title, class: 'form-control'

        
          = f.hidden_field :date, :value => "2015-08-12"

          = f.hidden_field :place, :value => "The Buddy Walk Location"

          = f.label :description
          = f.text_area :description, class: 'form-control', :placeholder => "Enter description"

          = f.submit "Create new Buddy Walk Registration group", class: "btn btn-primary home-page"

