%div.row
	%div.col-xs-12.col-sm-10.col-sm-offset-1.jumbrotron
		%h1 #{@buddy_walk.title}

		%u1#details
			%li
				Date:
				= @buddy_walk.date
			%li
				Place:
				= @buddy_walk.place
			%li
				Description:
				= @buddy_walk.description.html_safe

		= link_to "Back", buddy_walks_path
