%div.container
  %div.row
    %div.col-xs-12.col-sm-12.some{ :style => "padding-left:0px; padding-right:0px;" }
      =link_to image_tag("DSABV-logo.jpg", :class => "wrapper-image"), "http://dsabv.org"
%header.navbar.navbar-fixed-top.navbar-inverse.navbar-default.some{ :role => "navigation" }
  %div.container
    = link_to "Down Syndrome Association of Brazos Valley", "http://dsabv.org", id: "logo"
    %div.navbar-header
      %button.navbar-toggle.some{ :type => "button", :data_toggle => "collapse", :data_target => "#navigationbar"}
        %i.fa.fa-bars
    %nav.collapse.navbar-collapse.some{ :id => "navigationbar"}
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home", root_path
        %li= link_to "Events", events_path
        %li= link_to "Calendar", calendar_path
        - if logged_in?
          - if current_user.admin
            %li= link_to "Users", users_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => '#'}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", current_user
              %li= link_to "My registrations", registrations_user_path(current_user)
              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li= link_to "Log out", logout_path, method: "delete"
        - else
          %li= link_to "Sign up", signup_path
          %li= link_to "Log in", login_path
