<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="<%= full_title(yield(:title)) %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://dsabv.herokuapp.com/assets/DSABV-logo-50efd1197d113df01fecf34765c50604.jpg">
    <meta property="og:url" content="https://dsabv.herokuapp.com/">
    <meta property="og:description" content="Event registration system for Down Syndrome Association of Brazos Valley">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |msg_type, msg| %>
        <div class="alert alert-<%= msg_type %>">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
